/* NAV BAR CODE */


.nav-wrapper {
	background-color: #f1bb99;
	padding-left: 20px;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 100%; /* Generally set the font-size to 100% in the body - you can then change with em in the other areas */
	line-height: 1.7em; /* The line-height property in CSS controls the space between lines of text. It is often set in a unitless value (e.g. line-height: 1.4; ) */
	color: black;
	font-weight: 900;
}

.container{
	width: 90% !important;
	color: black;
}


footer {
	clear: both; /* The clear property specifies which side(s) of an element other floating elements are not allowed. */
	margin: 0;
	padding: .5em;
	color: black;
	font-variant: small-caps; 
	font-size: .813em;
	text-align: center;
	border-top: 1px dotted #cccccc;
	
	/* background-color: #ddd; */
}

footer.page-footer {
	background-color: #f1bb99;
}


.page-footer img {
	 max-width: 50px; 
	 max-height: 50px;
	 background-color: black;
}


.responsive {
    max-width: 100%;
    height: 100%;
}

iframe {
  display:block;
  margin:auto;
  max-width: 90%;
}

.tabs.tabs .tab a {
    color: #580c3b;
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 24px;
    font-size: 14px;
}

.tabs.tabs .tab a:hover {
	color: #580c3b;
}

.tabs.tabs .tab a.active {
	background-color: #f1bb99;
}

.tabs.tabs .tab a:focus.active {
	background-color: #f1bb99;
}

.btn.btn {
	background-color: #f1bb99
}

.checkbox-beige[type="checkbox"].filled-in:checked + label:after{
     border: 2px solid #ff9800;
     background-color: #f1bb99;
}

.card.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
    color: black;
    margin-right: 24px;
    -webkit-transition: color .3s ease;
    transition: color .3s ease;
    text-transform: uppercase;
}
